.container
  $padding = 10px
  position fixed
  top 0
  left 0
  right 0
  background-color rgb(244, 225, 146)
  color rgb(242, 108, 84)
  padding $padding
  text-align center
  .content
    display inline-block
    text-align left
  .closeButton
    cursor pointer
    position absolute
    top $padding
    right $padding
