.container
  $border-radius = 5px
  display inline-block
  border-radius $border-radius
  overflow hidden
  vertical-align top
  .option
    background-color #3c3c3c
    cursor pointer
    text-align center
    padding 10px
    transition all 0.5s
    color #8cb3d4
    &:not(:last-child)
      border-bottom 1px solid black
    &.active
      color white
      background-color rgb(36, 109, 170)
  &.inline
    .option
      display inline-block
      &:not(:last-child)
        border-bottom 0
        border-right 1px solid black
  .label
    text-align left
    span
      display inline-block
      border-top-right-radius $border-radius
      padding 0 5px
      background-color #38506a
