.container
  display inline-block
  margin 0 15px
  background-color #3c3c3c
  border-radius 5px
  overflow hidden
  vertical-align top
  .option
    cursor pointer
    text-align center
    padding 10px
    transition all 0.5s
    color #8cb3d4
    &:not(:last-child)
      border-bottom 1px solid black
    &.active
      color white
      background-color rgb(36, 109, 170)
  &.inline
    .option
      display inline-block
      &:not(:last-child)
        border-bottom 0
        border-right 1px solid black
