body
  margin 0
  color #3cbfa4
  background-color rgb(40, 44, 52)
  font-family 'Saira', sans-serif
.roundPadContainer
  max-width 360px
  margin 15px auto
.column
  display inline-block
  vertical-align top
  text-align left
  margin 0 15px
.selectorContainer
  text-align center
  margin 15px 0
.deviceSelector
  text-align center
  > *
    display block
.bottomPanels
  text-align center
